/.mixin.out
/crash-reports
/journeymap
/local
/logs
/mods/.index
/saves
/schematics
/screenshots
/server-resource-packs
options.txt
reauth.toml
servers.dat
servers.dat_old
TODO.txt
TrashSlotSaveState.json
usercache.json
usernamecache.json
