/.mixin.out
/crash-reports
/journeymap
/local
/logs
/mods/.index
/saves
/schematics
/screenshots
/server-resource-packs
options.txt
reauth.toml
servers.dat
servers.dat_old
TODO.txt
TrashSlotSaveState.json
usercache.json
usernamecache.json
/hs_err_pid5900.log
/ct_dumps/attribute.txt
/ct_dumps/block.txt
/ct_dumps/constant.txt
/ct_dumps/creativemodetab.txt
/ct_dumps/damagesource.txt
/ct_dumps/enchantment.txt
/ct_dumps/entitytype.txt
/ct_dumps/fluid.txt
/ct_dumps/gas.txt
/ct_dumps/infuse_type.txt
/ct_dumps/item.txt
/ct_dumps/material.txt
/ct_dumps/mobeffect.txt
/ct_dumps/module_data.txt
/ct_dumps/pigment.txt
/ct_dumps/potion.txt
/ct_dumps/profession.txt
/ct_dumps/recipetype.txt
/ct_dumps/robit_skin.txt
/ct_dumps/slurry.txt
/ct_dumps/soundevent.txt
/ct_dumps/tag.txt
/ct_dumps/tagmanager.txt
/ct_dumps/toolaction.txt
/hs_err_pid2412.log
/hs_err_pid2700.log
/config/byg/backups/last_working_configs_backup.zip
/config/itemborders-common-5.toml.bak
/config/jei/world/server/My_Server_70970bb4/bookmarks.ini
